<div class="searchBar">
  <div class="container">
    <form action="/search" class="search__form" role="search" method="POST">
      <input
        type="search"
        aria-label="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site..." />
      <button type="button" class="searchClose" id="searchClose">X</button>
    </form>
    <!-- <div class="searchClose" id="searchClose">Close</div> -->
  </div>
</div>
